.item{
    background-position: center center;
    background-size: cover;
    height: 500px;
}




@media only screen and (max-width: 1199px){
    .item{
        height: 500px;
    }
}

@media only screen and (max-width: 991px){
    .item{
        background-position: center center;
        background-size: cover;
        height: 400px;
    }
}

@media only screen and (max-width: 767px){
    .item{
        height: 300px;
    }
}

@media only screen and (max-width: 575px){
    .item{
        height: 350px;
    }
}
.caption-header-text{
    font-size: 16px;
}

.caption-title-text{
    font-size: 60px;
}

@media only screen and (max-width: 1199px){
    .caption-title-text {
        font-size: 60px;
    }
}

@media only screen and (max-width: 991px){
    .caption-title-text {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767px){
    .caption-title-text {
        font-size: 40px;
    }
}

@media only screen and (max-width: 575px){
    .caption-title-text {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

.carousel-content{
    max-width: 40%;
    left: 10%;
    position: absolute;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

@media (max-width: 995px){
    .carousel-content{
        max-width: 70%;
    }
}

.caption-des{
    color: #646a7c;
    font-size: 14px;
    margin-bottom: 20px;    
}

.carousel-btn{
    text-decoration: none;
    border: 1px solid #333;
    overflow: hidden;
    position: relative;
    color: #333 !important;
    text-transform: uppercase;
    line-height: normal;
    border-radius: 25px;
    padding: 10px 15px;
}

.carousel-btn:hover,
.carousel-btn:focus{
    border: 1px solid #333;;
    color: white !important;
    background-color: #333;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: var(--red-color) !important;
}
